.container{
    display: flex;
    .nav-left{
        width: 15%;
        min-width: 180px;
        // 让高度盛满全屏
        height: calc(100vh);
        background-color: #001529;
    }
    .main{
        flex: 1;
        background-color: #f1f3f5;
        height: calc(100vh);
        overflow: auto;
    }
    .content {
        padding: 20px;
        // background-color: #fff;
    }
}